<div class="smiles_container">
	<button type="button" class="btn btn-default" data-regexp=":)" title="smiley :)"><img src="img/smiles/0101.gif"></button>
	<button type="button" class="btn btn-default" data-regexp=":(" title="sad :("><img src="img/smiles/0102.gif"></button>
	<button type="button" class="btn btn-default" data-regexp=":D" title="big smile :D"><img src="img/smiles/0103.gif"></button>
	<button type="button" class="btn btn-default" data-regexp="(cool)" title="cool (cool)"><img src="img/smiles/0104.gif"></button>
	<button type="button" class="btn btn-default" data-regexp=":O" title="surprised :O"><img src="img/smiles/0105.gif"></button>
	<button type="button" class="btn btn-default" data-regexp=";)" title="winking ;)"><img src="img/smiles/0106.gif"></button>
	<button type="button" class="btn btn-default" data-regexp=";(" title="crying ;("><img src="img/smiles/0107.gif"></button>
	<button type="button" class="btn btn-default" data-regexp=":$" title="blushing :$"><img src="img/smiles/0204.gif"></button>
	<button type="button" class="btn btn-default" data-regexp="(facepalm)" title="facepalm (facepalm)"><img src="img/smiles/0406.gif"></button>
	<button type="button" class="btn btn-default" data-regexp="(devil)" title="devil (devil)"><img src="img/smiles/0407.gif"></button>
	<button type="button" class="btn btn-default" data-regexp="(angel)" title="angel (angel)"><img src="img/smiles/0408.gif"></button>
	<button type="button" class="btn btn-default" data-regexp="(rock)" title="rock (rock)"><img src="img/smiles/1106.gif"></button>
</div>