<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}{% endblock %}</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="js/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container">
			<a href="/" class="navbar-brand">Geeks chat :)</a>
			<ul class="nav navbar-nav pull-right">
				<p id="online" class="navbar-text">Online users: <span class="badge">0</span></p>
				{% block login %}
				{% endblock %}
			</ul>
		</div>
	</div>
	<div class="container">
		{% block content%}
		{% endblock %}
	</div>
	<div>
		<p class="text-center text-muted"><a href="#">GeekHub</a> &copy; 2014</p>
	</div>

	{% block popup_chats %}
	{% endblock %}

{% block resources %} 
{% endblock %}
</body>
</html>
