{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block login %}
	<p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ player.local.email }}{{player.twitter.username}}</a></p>
	<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
{% endblock %}
	
	{% block content %}
		<div class="row">
			<div class="col-lg-3">
				<div id="chat_list" class="panel panel-default">
					<div class="panel-heading height50">
						<button id="findContact" type="button" class="btn btn-default pull-right">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						Chats:	
					</div>
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-info active">
							<span class="badge"></span>
							Public chat
							<button type="button" class="btn btn-xs btn-primary pull-right">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button type="button" class="btn btn-xs btn-primary pull-right">
								<span class="glyphicon glyphicon-new-window"></span>
							</button>
						</a>
					</div>
					<div class="list-group">
					</div>
				</div>
			</div>
			<div id="chat" class="col-lg-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Public chat</h3>
					</div>
					<div class="panel-body chat_messages">
					</div>
					<div class="panel-footer chat_control">
						<div>
							<textarea class="chat_txt_area" rows="3"></textarea>
						</div>
						<div>
							<button id="chat_send" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-send"></span>
								Send
							</button>
							<button id="chat_smile" type="button" class="btn btn-primary" data-input=".chat_txt_area" data-toggle="popover" data-placement="top">
								<img src="img/smile-white.png">
								Smile
							</button>
							<button id="chat_clear" type="button" class="btn btn-warning">
								<span class="glyphicon glyphicon-remove"></span>
								Clear
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

{% block popup_chats %}
	{% include "chat.html" %}
{% endblock %}

{% block resources %}
<script data-main="js/main" src="js/bower_components/requirejs/require.js"></script>
{% endblock %}