{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block login %}
	<p class="navbar-text">Signed in as <a href="/profile" class="navbar-link">{{ player.local.email }}{{player.twitter.username}}</a></p>
	<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
{% endblock %}
	
	{% block content %}
		<div class="row">
			<div class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading height50">
						<button type="button" class="btn btn-default pull-right">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						Chats:	
					</div>
					<div id="chat_list" class="list-group">
						<a href="#" class="list-group-item list-group-item-info active">
							<span class="badge"></span>
							Public chat
						</a>
						<a href="#" class="list-group-item">
							<span class="badge">2</span>
							James Bond
						</a>
						<a href="#" class="list-group-item">
							<span class="badge"></span>
							Jason Statham
						</a>
					</div>
				</div>
			</div>
			<div id="chat" class="col-lg-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Public chat</h3>
					</div>
					<div class="panel-body chat_messages">
						<div class="row">
							<div class="col-lg-3 text-right">
								<span class="label label-primary">James Bond :</span>
							</div>
							<div class="col-lg-9">
								simple chat message writed on my keyboard 
								blablabla
								this chat is best of all chats in the world, because he is written by me
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 text-right">
								<span class="label label-primary">James Bond :</span>
							</div>
							<div class="col-lg-9">
								simple chat message writed on my keyboard 
								blablabla
								this chat is best of all chats in the world, because he is written by me <img src="img/smiles/0104.gif"> .
							</div>
						</div>
						
					</div>
					<div class="panel-footer chat_control">
						<div>
							<textarea class="chat_txt_area" rows="3"></textarea>
							<button type="button" class="close" aria-hidden="true">&times;</button>
						</div>
						<div>
							<button id="chat_send" type="button" class="btn btn-primary">Send</button>
							<button id="chat_close" type="button" class="btn btn-warning">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

{% block popup_chats %}
	{% include "chat.html" %}
{% endblock %}

{% block resources %}
<script data-main="js/main" src="js/bower_components/requirejs/require.js"></script>
{% endblock %}